.header {
  margin-bottom: 10px;
  font-weight: bold;
}

.logo-button {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  margin: 7px 0;
}

.logo-button img {
  height: 1em;
  width: 1em;
  margin-right: 5px;
}

.frontier-button-container {
  display: flex;
  flex-direction: column;
}

.loader {
  margin: 10px auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}